#page-left{
	width: 200px;
	min-height: 600px;
	height: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #e6e6e6;
}

#page-right{
	width: auto;
	min-width: 760px;
	height: auto;
	min-height: 600px;
	position: absolute;
	left: 200px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	color: #ffffff;
}


#dbList{
	width: 100%;
	min-height: 245px;
	height: 245px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}

#dbList .db-box{
	width: 100%;
	height: 24px;
	line-height: 24px;
	float: left;
	margin: 0px auto;
	font-size: 14px;
	color: #111111;
	padding-left:15px;
}
#dbList .db-box .db-icon{
	width: 16px;
	height: 16px;
	margin-top: 4px;
	line-height: 16px;
	float: left;
	text-align: right;
}
#dbList .db-box .db-title{
	width: auto;
	height: 24px;
	line-height: 24px;
	float: left;
	padding-left: 6px;
}

#dbTitle {
	margin-top: 5px;
	width: 100%;
	height: 26px;
	line-height: 26px;
	float: left;
	margin: 0px auto;
	font-size: 18px;
	color: #828282;
	padding-left:10px;
}

#dbList .db-box:hover{
	background-color: #9d9d9d;
}
#dbList .db-box-active{
	background-color: #9d9d9d;
}
#collectionTitle{
	width: 100%;
	min-height: 30px;
	height: 30px;
	position: absolute;
	left: 0px;
	top: 250px;
	overflow-x: hidden;
}
#collectionList{
	width: 100%;
	min-height: 270px;
	height: 270px;
	position: absolute;
	left: 0px;
	top: 280px;
	bottom: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#collTitle{
	margin-top: 5px;
	width: 100%;
	height: 26px;
	line-height: 26px;
	float: left;
	margin: 0px auto;
	font-size: 18px;
	color: #828282;
	padding-left:10px;
}
#collectionList .coll-box{
	width: 100%;
	height: 24px;
	line-height: 24px;
	float: left;
	margin: 0px auto;
	font-size: 14px;
	color: #111111;
	padding-left:15px;
}
#collectionList .coll-box .coll-icon{
	width: 16px;
	height: 16px;
	margin-top: 4px;
	line-height: 16px;
	float: left;
	text-align: right;
}
#collectionList .coll-box .coll-title{
	width: auto;
	height: 24px;
	line-height: 24px;
	float: left;
	padding-left: 6px;
}
#collectionList .coll-box:hover{
	background-color: #9d9d9d;
}
#collectionList .coll-box-active{
	background-color: #9d9d9d;
}
#databaseAction{
	width: 100%;
	min-height: 36px;
	height: 36px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background-color: #fff;
}


#databaseAction .act_box{
	float: left;
	width: 30px;
	height: 26px;
	padding: 2px auto auto 6px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px;
}
#databaseAction .act_box img{
	margin: 2px auto auto 6px;
}
#databaseAction .act_box:hover{
	background-color: #eee;
}


/***************右边&*&&&**************/
#main-top{
	width: 100%;
	min-height: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
	overflow-y: auto;
	overflow-x: hidden;
}
#main-content{
	width: 100%;
	min-height: 524px;
	height: auto;
	position: absolute;
	top: 50px;
	right: 0px;
	bottom: 24px;
	overflow-y: auto;
	overflow-x: auto;
	color: #333333;
	background-color: #ffffff;
}
#main-foot{
	width: auto;
	min-width: 760px;
	min-height: 24px;
	height: 24px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align: right;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #595959;
}
#main-foot label{
	margin-right:20px;
	font-size: 11px;
	line-height: 24px;
	color: #f9fff7;
}
#content-tfoot{
	display: none;
	cursor: pointer;
}
.document_tr{
	cursor: pointer;
}

/***************desc.html************/

#desc-main{
	width: 100%;
	min-height: 600px;
	height: 600px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	border: 1px solid #ccc;
}
#desc_json{
	width: 100%;
	height: 600px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
}
